$regular-color: #eee;
$red: #D71921;


$w2560: 2560px;
$w1440: 1440px;
$w1366: 1366px;
$w1024: 1024px;
$w768: 768px;
$w480: 480px;
$w375: 374px;
$w320: 320px;

@mixin w1366 {
	@media screen and (max-width: $w1366) {
		@content
	}
} 
@mixin w1024 {
	@media screen and (max-width: $w1024) {
		@content
	}
} 

@mixin w768 {
	@media screen and (max-width: $w768) {
		@content
	}
} 

@mixin w375 {
	@media screen and (max-width: $w375) {
		@content
	}
} 

@mixin w480 {
	@media screen and (max-width: $w480) {
		@content
	}
} 

